<!doctype html>

<!--
  Sokoban, a web version of the classic Sokoban puzzle game.
  Copyright (C) 2017  Johan Andersson

  This file is part of Sokoban.

  Sokoban is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Sokoban is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Sokoban.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Sokoban</title>
    <link type="text/css" rel="stylesheet" href="css/sokoban.css">
    <script type="text/javascript" src="js/{{file}}" async></script>
  </head>
  <body>
    <div id="sokoban"></div>
  </body>
</html>
